{% extends 'todo/base.html' %}

{% block content %}

<div class="ms-5">
  <h1>New Todo</h1>

  <h2>{{error}}</h2>

  <form method="POST">
    {% csrf_token %}

    <div class="col-xl-6 mt-4">

      <h5><label>Title:</label></h5>
      <input id="username" type="text" name="title" maxlength="100" class="form-control mt-1 myform" required>
      <br>


      <h5><label for="id_memo">Details:</label></h5>
      <textarea name="memo" cols="30" rows="10" id="id_memo" class="form-control myform"></textarea>
      <br>

      <h5><label for="id_important">Important:</label><input type="checkbox" name="important" id="id_important"
          class="form-check-input ms-3"></h5>

      <br>

      <button type="submit" class="btn btn-lg btn-dark">Create</button>
    </div>
  </form>
</div>


{% endblock %}