{% extends 'todo/base.html' %}
{% load static %}

{% block content %}

<div class="ms-5">

  <h1>Your to-do list: </h1>

  <div class="list-group col-xl-6 col-md-12 w-50 mt-4">

    {% for todo in todos %}

    <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action" aria-current="true">

      <div class="d-flex">
        {{todo}}

        {% if todo.important %}
        <img src=" {% static 'todo/star_icon.svg' %}" alt="star icon">
        {% endif %}
      </div>

    </a>

    {% empty %}

    <h5>Nice! You are done for today.</h5>

    {% endfor %}

  </div>

  <br>
  <a name="btn-create" id="btn-create" class="btn btn-lg btn-dark mt-2" href="{% url 'createtodo' %}" role="button">New
    to-do</a>

</div>

{% endblock %}