{% extends 'todo/base.html' %}
{% load static %}

{% block content %}

{{error}}
<div class="ms-5 row col-md-9 me-5">
  <div class="d-flex">
    <a href="{% url 'currenttodos' %}"><img src=" {% static 'todo/arrow-left-square-fill.svg' %}" alt="left arrow icon"
        height="50px" class="me-4"></a>
    <h1>View to-do</h1>
  </div>
  <h2>{{error}}</h2>

  <form method="POST">
    {% csrf_token %}

    <div class="col-xl-6 mt-4">

      <h5><label>Title:</label></h5>
      <input id="username" type="text" name="title" maxlength="100" class="form-control mt-1 myform"
        value="{{todo_item.title}}" required>
      <br>
      <h5><label for="id_memo">Details:</label></h5>
      <textarea name="memo" cols="30" rows="10" id="id_memo" class="form-control myform">{{todo_item.memo}}</textarea>
      <br>

      <h5>
        <label for="id_important">Important:</label>
        {% if todo_item.important %}
        <input type="checkbox" name="important" id="id_important" class="form-check-input ms-3" value="true" checked>
        {% else %}
        <input type="checkbox" name="important" id="id_important" class="form-check-input ms-3" value="true">
        {% endif %}
      </h5>
      <br>

      <button type="submit" class="btn btn-lg btn-dark">Salvar alterações</button>
    </div>
  </form>

  <form method="POST" action="{% url 'complete' todo_item.id %}" class="mt-2">
    {% csrf_token %}
    <button type="submit" class="btn btn-lg btn-secondary">Concluir tarefa</button>
  </form>

  <form method="POST" action="{% url 'deletetodo' todo_item.id %}" class="mt-2">
    {% csrf_token %}
    <button type="submit" class="btn btn-lg btn-secondary">Excluir tarefa</button>
  </form>

</div>

{% endblock %}